alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.0
apricot-select==0.5.0
asn1crypto==1.3.0
astroid==2.3.3
astropy==4.0.1.post1
attrs==19.3.0
babel==2.8.0
backcall==0.1.0
bleach==3.1.5
bokeh==2.0.1
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
cfgv==3.1.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
configparser==5.0.0
confuse==1.1.0
cryptography==3.2
cycler==0.10.0
cytoolz==0.10.1
dask==2.19.0
decorator==4.4.2
defusedxml==0.6.0
dispersant-screener==0+untagged.83.gfec3425.dirty
distlib==0.3.0
docker-pycreds==0.4.0
docutils==0.16
dodgy==0.2.1
entrypoints==0.3
filelock==3.0.12
gitdb==4.0.5
gitpython==3.1.7
gpy==1.9.9
gql==0.2.0
graphql-core==1.1
guzzle-sphinx-theme==0.7.11
holoviews==1.13.2
htmlmin==0.1.12
identify==1.4.19
idna==2.9
imagecodecs-lite==2019.12.3
imagehash==4.1.0
imageio==2.8.0
imagesize==1.2.0
importlib-metadata==1.6.0
ipykernel==5.2.1
ipyparallel==6.3.0
ipython-genutils==0.2.0
ipython==7.14.0
ipywidgets==7.5.1
isort==4.3.21
iterative-stratification==0.1.6
jedi==0.17.0
jinja2==2.11.2
joblib==0.14.1
json5==0.9.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab-server==1.1.1
jupyterlab==2.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
llvmlite==0.31.0
markdown==3.2.1
markupsafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
more-itertools==8.4.0
nb-conda-kernels==2.2.3
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
nodeenv==1.4.0
notebook==6.4.1
numba==0.48.0
numpy==1.19.1
nvidia-ml-py3==7.352.0
olefile==0.46
packaging==20.1
pandas-profiling==2.6.0
pandas==1.0.3
pandocfilters==1.4.2
panel==0.9.5
param==1.9.3
paramz==0.9.5
parso==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8-naming==0.4.1
pexpect==4.8.0
phik==0.9.11
pickleshare==0.7.5
pillow==7.1.2
pip==20.1
pluggy==0.13.1
pre-commit==2.5.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
prospector==1.2.0
psutil==5.7.2
ptyprocess==0.6.0
py==1.8.2
pycodestyle==2.4.0
pycparser==2.20
pyct==0.4.6
pydocstyle==5.0.2
pyflakes==2.1.1
pygments==2.6.1
pylint-celery==0.3
pylint-django==2.0.12
pylint-flask==0.6
pylint-plugin-utils==0.6
pylint==2.4.4
pyopenssl==19.0.0
pyparsing==2.4.7
pyrsistent==0.16.0
pysocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
pyviz-comms==0.7.4
pywavelets==1.1.1
pyyaml==5.3.1
pyzmq==19.0.1
requests==2.23.0
requirements-detector==0.7
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.10.1
send2trash==1.5.0
sentry-sdk==0.16.3
setoptconf==0.2.0
setuptools==46.1.3.post20200325
shap==0.35.0
shortuuid==1.0.1
six==1.14.0
smmap==3.0.4
snowballstemmer==2.0.0
sphinx==3.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.11.1
subprocess32==3.5.4
tangled-up-in-unicode==0.0.4
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.6.3
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
versioneer==0.18
virtualenv==20.0.23
visions==0.4.1
wandb==0.9.4
watchdog==0.10.3
wcwidth==0.1.9
webencodings==0.5.1
wheel==0.34.2
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==1.0.0
yapf==0.30.0
zipp==3.1.0
